*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw-500);
  line-height: var(--lh-150);
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: clamp(327px, 27vw ,384px);
  background-color: var(--color-card);
  border: 1px solid var(--color-black);
  border-radius: var(--radius);
  box-shadow: var(--shadow-card);
  gap: var(--gap-24);
  padding: var(--padding);
}

.card__content,
.card__meta,
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-12);
}

.card__image {
  display: block;
  inline-size: 100%;
  border-radius: var(--radius-s);
  object-fit: cover;
  object-position: center;
}

.card__tag {
  background-color: var(--color-bg);
  border-radius: var(--radius-xs);
  /* font-size: var(--fs-14); */
  font-size: clamp(var(--fs-12), 2vw, var(--fs-14));
  font-weight: var(--fw-800);
  padding: var(--padding-s);
}

.card__date {
  font-size: clamp(var(--fs-12), 2vw, var(--fs-14));
}

.card__link {
  display: inline-block;
  font-size: clamp(var(--fs-20), 2vw, var(--fs-24));
  font-weight: var(--fw-800);
  cursor: url("../assets/images/pointer.png") 7 2, pointer;
  box-shadow: var(--shadow-cursor);
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.card__link:hover,
.card__link:focus {
  color: var(--color-link);
}

.card__link:active {
  color: var(--color-link);
}

.card__link:focus-visible {
  outline: 2px solid var(--color-link);
  outline-offset: 2px;
}

.card__text {
  color: var(--color-subtitle);
  font-size: clamp(var(--fs-14), 2vw, var(--fs-16));
}

.card__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-12);
}

.card__author-text {
  font-size: var(--fs-14);
  font-weight: var(--fw-800);
}

.attribution {
  display: none;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--link-color);
}

.attribution a:hover {
  color: var(--link-hover-color);
}

@media (prefers-reduced-motion: reduce) {
  .card__link {
    transition: none;
  }
}
